{% extends "layout.html" %}
{% set title = 'SuperWASP &raquo; Dome Camera 1' -%}
{% set active_page = 'wasp-dome1' -%}
{% block body %}
{% if not dashboard_mode %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>
{% endif %}
{% set enable_microphone = user_account != None and 'satellites' in user_account['permissions'] -%}
{% set enable_video = True %}
{% set enable_light = user_account != None and 'satellites' in user_account['permissions'] -%}
{% set video = 'wasp1' %}
{% set audio = 'wasp' %}
{% set light = 'wasp1' %}
{% include 'camera.html' %}

{% endblock %}
