[Unit]
Description=uWSGI instance to serve the web dashboard
After=network.target

[Service]
User=ops
Group=nginx
WorkingDirectory=/srv/dashboard
ExecStart=/usr/sbin/uwsgi --ini /srv/dashboard/dashboard.ini

[Install]
WantedBy=multi-user.target
