[Unit]
Description=Polls observatory systems and updates the cached dashboard json files
Wants=update-dashboard-data.timer

[Service]
User=nfsnobody
Group=nfsnobody
ExecStart=/usr/bin/update-dashboard-data

