[Unit]
Description=Polls observatory webcams and updates the cached dashboard images
Wants=update-dashboard-webcams.timer

[Service]
User=dashboarddata
Group=dashboarddata
ExecStart=/usr/bin/update-dashboard-webcams

