[Unit]
Description=Polls observatory webcams and updates the cached dashboard images

[Service]
User=dashboarddata
Group=dashboarddata
ExecStart=/usr/bin/update-dashboard-webcams
Restart=always
RestartSec=10
