{% extends "layout.html" %}
{% set title = 'CLASP &raquo; Dome Camera' -%}
{% set active_page = 'clasp-dome' -%}
{% block body %}
{% if not dashboard_mode %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>
{% endif %}
{% set enable_microphone = user_account != None and 'satellites' in user_account['permissions'] -%}
{% set enable_video = False %}
{% set video = 'clasp' %}
{% set audio = 'clasp' %}
{% include 'camera.html' %}

{% endblock %}
