{% extends "layout.html" %}
{% set title = 'Half Metre &raquo; Server Room Camera' -%}
{% set active_page = 'halfmetre-serverroom' -%}
{% block body %}
{% if not dashboard_mode %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>
{% endif %}
{% set enable_microphone = False -%}
{% set enable_video = True %}
{% set enable_light = user_account != None and 'satellites' in user_account['permissions'] -%}
{% set video = 'serverroom' %}
{% set light = 'serverroom' %}
{% include 'camera.html' %}

{% endblock %}
