{% extends "layout.html" %}
{% set title = 'NITES &raquo; Dome Camera' -%}
{% set active_page = 'nites-dome' -%}
{% block body %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>

<div class="row">
  <div id="container" class="col-md-12 m-b" style="position: relative">
    <img id="video" src="/webcam/nites/static" width="100%">
    <div style="position: absolute; left: 25px; top: 10px; text-align: center;">
      <a id="video-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='video.svg') }}" width="50"/><br /><span id="video-button-text">Play</span></a><br />
    </div>
  </div>
  <div id="container" class="col-md-12">
    <p class="description">Please note that video sync may drift over time. Stop and re-start playback to resync the time.</p>
  </div>
</div>
<script>
$(document).ready(function () {
  var videoPlaying = false;
  $('#video-button').click(function() {
    if (videoPlaying) {
      $('#video-button-text').html('Play');
      $('#video').attr('src', '/webcam/nites/static?' + Date.now());
      console.log($('#video').attr('src'));
      videoPlaying = false;
    } else {
      $('#video-button-text').html('Stop');
      $('#video').attr('src', '/webcam/nites/live?' + Date.now());

      videoPlaying = true;
    }
  })
});
</script>
{% endblock %}
