
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="{{ "/css/toolkit-inverse.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/application.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/slider.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <style>
    .data-minmax {
      font-size:0.7em;
      margin-top: -3px;
      margin-left: 5px
    }
    
    .overlaybutton {
      background: rgba(255, 255, 255, 0.2);
    }
    
    a:hover .overlaybutton {
      color: #1ca8dd;
    }
  </style>
</head>
