{% extends "layout.html" %}
{% set title = 'W1m &raquo; Dashboard' -%}
{% set active_page = 'w1m-dashboard' -%}
{% block body %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
    <h6 class="dashhead-subtitle" id="data-updated">Loading...</h6>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_ops", "telescope_status"]' data-generator="telStatus">Tel. Status</span>
      <span class="list-group-item" data-index='["w1m_ops", "dome_status"]' data-generator="opsDomeStatus">Dome Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_ops"]' data-generator="opsTelescopeControl">Tel. Control</span>
      <span class="list-group-item" data-index='["w1m_ops", "dome_mode"]' data-generator="opsDomeControl">Dome Control</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_ops", "observing"]' data-generator="opsStatus">Operations</span>
      <span class="list-group-item" data-index='["w1m_ops", "environment"]' data-generator="opsEnvironment" data-toggle="tooltip" data-placement="bottom" data-container="body" data-animation="false">Environment</span>
    </div>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerMainUPS">Main UPS</span>
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerDomeUPS">Dome UPS</span>
      <span class="list-group-item" data-index='["w1m_power", "telescope_80v"]' data-generator="powerOnOff">Tel Drive</span>
      <span class="list-group-item" data-index='["w1m_power", "telescope_12v"]' data-generator="powerOnOff">Tel Controllers</span>
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerInstrument">Instrument</span>
      <span class="list-group-item" data-index='["w1m_power", "light"]' data-generator="powerOnOff">Dome Light</span>
      <span class="list-group-item" data-index='["w1m_power", "dehumidifier"]' data-generator="powerOnOff">Dehumidifier</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_vaisala", "relative_humidity"]' data-generator="envLatestMinMax" data-units=" %RH">Ext. Humidity</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "internal_humidity"]' data-generator="envLatestMinMax" data-units=" %RH">Int. Humidity</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "temperature"]' data-generator="envLatestMinMax" data-units=" &deg;C">Ext. Temp.</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "internal_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Int. Temp.</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "truss_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Truss Temp.</span>
      <span class="list-group-item" data-index='["superwasp", "sky_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Sky Temp.</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "dew_point_delta"]' data-generator="envLatestMinMax" data-units=" &deg;C">T > Dew Pt.</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_vaisala", "accumulated_rain"]' data-generator="envLatestMinMax" data-units=" mm">Total Rain</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "wind_speed"]' data-generator="envLatestMinMax" data-units=" km/h">Peak Wind</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "median_wind_speed"]' data-generator="envLatestMinMax" data-units=" km/h">Median Wind</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "pressure"]' data-generator="envLatestMinMax" data-units=" hPa">Pressure</span>
      <span class="list-group-item" data-index='["tng", "dust"]' data-generator="envLatestMinMax" data-units=" &mu;g/m<sup>3</sup>">Dust (TNG)</span>
      <span class="list-group-item" data-index='["tng", "seeing"]' data-generator="seeingIfAvailable" data-units=" arcsec">Seeing (TNG)</span>
      <span class="list-group-item" data-index='["tng", "solarimeter"]' data-generator="envLatestMinMax" data-units=" W/m<sup>2</sup>">Brightness (TNG)</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m_diskspace", "data_fs_available_bytes"]' data-generator="diskSpaceGB" data-units=" GB">TCS Disk Space</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "security_system_safe"]' data-generator="switchSafeTripped">Hard Limits</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "trap_closed"]' data-generator="switchClosedOpen">Trap Door</span>
      <span class="list-group-item" data-index='["w1m_roomalert", "hatch_closed"]' data-generator="switchClosedOpen">Side Hatch</span>
      <span class="list-group-item" data-index='["ephem", "sun_alt"]' data-generator="envLatestMinMax" data-units="&deg;">Sun Altitude</span>
      <span class="list-group-item" data-index='["ephem", "moon_percent_illumination"]' data-generator="envLatestMinMax" data-units="%">Moon Illumination</span>
      <span class="list-group-item" data-index='["ephem", "moon_alt"]' data-generator="envLatestMinMax" data-units="&deg;">Moon Altitude</span>
    </div>
  </div>
</div>
{% if user_account != None and 'w1m' in user_account['permissions'] %}
<div class="row dashboard-stats">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Telescope</h5>
      <span class="list-group-item" data-index='["telescope", "ra"]' data-generator="telRA">RA</span>
      <span class="list-group-item" data-index='["telescope", "dec"]' data-generator="telDec">Dec</span>
      <span class="list-group-item" data-index='["telescope", "alt"]' data-generator="telAlt">Altitude</span>
      <span class="list-group-item" data-index='["telescope", "telescope_focus_um"]' data-generator="telFocus">Tel. Focus</span>
      <span class="list-group-item" data-index='["telescope", "instrument_focus"]' data-generator="telInstrumentFocus">Red Focus</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Blue Camera</h5>
      <span class="list-group-item" data-index='["blue"]' data-generator="camStatus">Status</span>
      <span class="list-group-item" data-index='["blue"]' data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-index='["blue", "shutter_enabled"]' data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-index='["blue", "exposure_time"]' data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-index='["blue"]' data-generator="camGeometry">Geometry</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header text-center">Red Camera</h5>
      <span class="list-group-item" data-index='["red"]' data-generator="camStatus">Status</span>
      <span class="list-group-item" data-index='["red"]' data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-index='["red", "shutter_enabled"]' data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-index='["red", "exposure_time"]' data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-index='["red"]' data-generator="camGeometry">Geometry</span>
    </div>
  </div>
</div>
<div class="row dashboard-stats">
  <div class="col-md-5 col-sm-12 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Pipeline</h5>
      <span class="list-group-item" data-index='["pipeline", "guide_camera_id"]' data-generator="pipelineGuiding">Guide Camera</span>
      <span class="list-group-item" data-index='["pipeline"]' data-generator="pipelineFrameType">Frame Type</span>
      <span class="list-group-item" data-index='["pipeline", "archive_directory"]' data-generator="pipelineSaveDir">Archive Dir</span>
      <span class="list-group-item" data-index='["pipeline"]' data-generator="pipelineNextBlue">Next Blue Frame</span>
      <span class="list-group-item" data-index='["pipeline"]' data-generator="pipelineNextRed">Next Red Frame</span>
      <span class="list-group-item" data-index='["pipeline"]' data-generator="pipelineProcess">Pipeline Steps</span>
    </div>
  </div>
  <div class="clearfix visible-sm-block visible-xs-block"></div>
  <div class="col-md-7">
    <div class="list-group">
      <h5 class="list-group-header text-center">System Log</h5>
      <div class="list-group-item" style="overflow-y: scroll; height: 160px;">
        <table id="log-table">
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row dashboard-stats">
  <div class="col-md-12">
    <div class="list-group">
      <h5 class="list-group-header text-center">Authentication Required</h5>
      <span class="list-group-item text-center">Observation details are restricted to logged in observers.</span>
    </div>
  </div>
</div>
{% endif %}
<script src="{{ url_for('static', filename='common-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='w1m-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='fetch-logs.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-tooltip.js') }}"></script>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    pollDashboard('/data/w1m');
{% if user_account != None and 'w1m' in user_account['permissions'] %}
    pollLog('{{ url_for('w1m_log') }}');
{% endif %}
  });
</script>
{% endblock %}
