{% extends "layout.html" %}
{% set title = 'W1m &raquo; Dashboard' -%}
{% set active_page = 'w1m-dashboard' -%}
{% block body %}
    <div class="row dashboard-stats">
  <div class="col-md-4 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_status", "dome_mode"]' data-generator="opsHeaderMode">Dome Control</span>
      <span class="list-group-item" data-index='["w1m_status", "dome"]' data-generator="opsHeaderDome">Dome Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_status", "tel_mode"]' data-generator="opsHeaderMode">Tel. Control</span>
      <span class="list-group-item" data-index='["w1m_status", "tel"]' data-generator="opsHeaderTel">Tel. Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 g-2">
    <span class="m-0 text-center list-group-item" id="data-updated">Loading...</span>
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_status", "environment"]' data-generator="opsConditions" data-toggle="tooltip" data-placement="bottom" data-container="body" data-animation="false">Environment</span>
    </div>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerUPS" data-prefix="ups1">UPS 1</span>
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerUPS" data-prefix="ups2">UPS 2</span>
      <span class="list-group-item" data-index='["w1m_power", "ats_source"]' data-generator="powerATS">ATS</span>
      <span class="list-group-item" data-index='["w1m_power", "light"]' data-generator="powerOffOn">Dome Light</span>
      <span class="list-group-item" data-index='["w1m_power", "dehumidifier"]' data-generator="powerOffOn">Dehumidifier</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_vaisala", "relative_humidity"]' data-generator="envLatestMinMax" data-units=" %RH">Ext. Humidity</span>
      <span class="list-group-item" data-index='["w1m_domealert", "internal_humidity"]' data-generator="envLatestMinMax" data-units=" %RH">Int. Humidity</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "temperature"]' data-generator="envLatestMinMax" data-units=" &deg;C">Ext. Temp.</span>
      <span class="list-group-item" data-index='["w1m_domealert", "internal_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Int. Temp.</span>
      <span class="list-group-item" data-index='["w1m_domealert", "truss_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Truss Temp.</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["w1m_vaisala", "wind_speed"]' data-generator="envLatestMinMax" data-units=" km/h">Peak Wind</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "median_wind_speed"]' data-generator="envLatestMinMax" data-units=" km/h">Median Wind</span>
      <span class="list-group-item" data-index='["w1m_vaisala", "dew_point_delta"]' data-generator="envLatestMinMax" data-units=" &deg;C">T > Dew Pt.</span>
      <span class="list-group-item" data-index='["rain", "unsafe_boards"]' data-generator="envLatestMinMax" data-units=" / 3" data-precision="0">Rain Detectors</span>
      <span class="list-group-item" data-index='["cloudwatcher", "sky_temp"]' data-generator="envLatestMinMax" data-units=" &deg;C">Sky Temp.</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item" data-index='["tng", "dust"]' data-generator="envLatestMinMax" data-units=" &mu;g/m<sup>3</sup>">Dust (TNG)</span>
      <span class="list-group-item" data-index='["tng", "seeing"]' data-generator="seeingIfAvailable" data-units=" arcsec">Seeing (TNG)</span>
      <span class="list-group-item" data-index='["ephem", "sun_alt"]' data-generator="envLatestMinMax" data-units="&deg;">Sun Altitude</span>
      <span class="list-group-item" data-index='["ephem", "moon_percent_illumination"]' data-generator="envLatestMinMax" data-units="%">Moon Illumination</span>
      <span class="list-group-item" data-index='["ephem", "moon_alt"]' data-generator="envLatestMinMax" data-units="&deg;">Moon Altitude</span>
    </div>
  </div>
</div>
<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">Mount</span>
      <span class="list-group-item" data-index='["w1m_telescope"]' data-generator="telState">State</span>
      <span class="list-group-item" data-index='["w1m_telescope"]' data-generator="telRADec">RA / Dec</span>
      <span class="list-group-item" data-index='["w1m_telescope"]' data-generator="telAltAz">Alt / Az</span>
      <span class="list-group-item" data-index='["w1m_telescope"]' data-generator="telSunMoon">Sun / Moon Sep.</span>
      <span class="list-group-item" data-index='["w1m_domealert", "security_system_safe"]' data-generator="switchSafeTripped">Hard Limits</span>
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerOnOffMixed" data-switches='["telescope_80v", "telescope_12v", "telescope_covers"]'>Tel. Power</span>
      <span class="list-group-item" data-index='["w1m_power"]' data-generator="powerOnOffMixed" data-switches='["red_focus_controller", "red_focus_motor"]'>Red Foc. Power</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">Dome</span>
      <span class="list-group-item" data-index='["w1m_dome", "shutter_a"]' data-generator="domeShutter">E. Shutter</span>
      <span class="list-group-item" data-index='["w1m_dome", "shutter_b"]' data-generator="domeShutter">W. Shutter</span>
      <span class="list-group-item" data-index='["w1m_dome"]' data-generator="domeHeartbeat">Heartbeat</span>
      <span class="list-group-item" data-index='["w1m_ops", "dome"]' data-type="open" data-generator="opsDomeTime">Sched. Open</span>
      <span class="list-group-item" data-index='["w1m_ops", "dome"]' data-type="close" data-generator="opsDomeTime">Sched. Close</span>
      <span class="list-group-item" data-index='["w1m_domealert", "trap_closed"]' data-generator="switchClosedOpen">Trap Door</span>
      <span class="list-group-item" data-index='["w1m_domealert", "hatch_closed"]' data-generator="switchClosedOpen">Side Hatch</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">Blue Camera</span>
      <span class="list-group-item" data-index='[]' data-generator="camStatus" data-cam="blue">Status</span>
      <span class="list-group-item" data-index='["w1m_blue"]' data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-index='["w1m_blue"]' data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-index='["w1m_blue"]' data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-index='["w1m_diskspace", "data_fs_available_bytes"]' data-generator="diskSpaceGB" data-units=" GB">Disk Space</span>
      <span class="list-group-item" data-index='["w1m_telescope"]' data-generator="telFocus">Focus</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs- g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">Red Camera</span>
      <span class="list-group-item" data-index='[]' data-generator="camStatus" data-cam="red">Status</span>
      <span class="list-group-item" data-index='["w1m_red"]' data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-index='["w1m_red"]' data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-index='["w1m_red"]' data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-index='["w1m_diskspace", "data_fs_available_bytes"]' data-generator="diskSpaceGB" data-units=" GB">Disk Space</span>
      <span class="list-group-item" data-index='[]' data-generator="telRedFocus">Focus</span>
    </div>
  </div>
</div>
<div class="row dashboard-stats">
  <div class="col-md-5 col-sm-12 col-xs-12 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">Ops / Pipeline</span>
      <span class="list-group-item" data-index='["w1m_ops", "telescope"]' data-generator="opsActionName">Action</span>
      <span class="list-group-item" data-index='["w1m_ops", "telescope"]' data-generator="opsActionTask">Status</span>
      <span class="list-group-item" data-index='["w1m_pipeline"]' data-generator="pipelineObject">Object</span>
      <span class="list-group-item" data-index='["w1m_pipeline", "frame_prefix"]' data-generator="pipelinePrefix">Prefix</span>
      <span class="list-group-item" data-index='["w1m_pipeline", "guide_camera_id"]' data-generator="pipelineGuiding">Guide Camera</span>
    </div>
  </div>
  <div class="col-md-7 g-2">
    <div class="list-group rounded-0">
      <span class="list-group-item text-center fw-bold">System Log</span>
      <div class="list-group-item overflow-y-scroll pt-0" style="height: 165px;">
        <table id="log-table" class="w-100"></table>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='rockit-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='w1m-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='fetch-logs.js') }}"></script>
<script>
  $(document).ready(function() {
    pollDashboard('{{ url_for('w1m_dashboard_data') }}');
    pollLog('{{ url_for('w1m_log') }}');
  });
</script>
{% endblock %}
