{% extends "layout.html" %}
{% set title = 'W1m &raquo; Dome Camera' -%}
{% set active_page = 'w1m-dome' -%}
{% block body %}
{% if not dashboard_mode %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>
{% endif %}
{% set enable_microphone = user_account != None and 'w1m' in user_account['permissions'] -%}
{% set enable_video = True %}
{% set enable_light = user_account != None and 'w1m' in user_account['permissions'] -%}
{% set enable_irleds = user_account != None and 'w1m' in user_account['permissions'] -%}
{% set video = 'w1m' %}
{% set audio = 'w1m' %}
{% set light = 'w1m' %}
{% set irleds = 'w1mir' %}

{% include 'camera.html' %}

{% endblock %}
