{% extends "layout.html" %}
{% set title = 'GOTO &raquo; Dashboard' -%}
{% set active_page = 'goto-dashboard' -%}
{% block body %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
    <h6 class="dashhead-subtitle" id="data-updated">Loading...</h6>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["dome", "mode"]' data-generator="domeMode">Dome Control</span>
      <span class="list-group-item" data-index='["dome", "dome"]' data-generator="domeStatus">Dome Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["TODO", "TODO"]' data-generator="telMode">Tel. Control</span>
      <span class="list-group-item" data-index='TODO' data-generator="telStatus">Tel. Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["dome", "lockdown"]' data-generator="conditionsLockdown">Lockdown</span>
      <span class="list-group-item" data-index='["conditions", "flags"]' data-generator="conditionFlags" data-toggle="tooltip" data-placement="bottom" data-container="body" data-animation="false">Environment</span>
    </div>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["power", "status_UPS1"]' data-generator="powerUPS">East UPS</span>
      <span class="list-group-item" data-index='["power", "status_UPS2"]' data-generator="powerUPS">West UPS</span>
      <span class="list-group-item" data-index='["power"]' data-generator="ledsOnOff">Dome Lights</span>
      <span class="list-group-item" data-index='["dome", "dehumidifier_on"]' data-generator="powerOffOn">Dehumidifier</span>
      <span class="list-group-item" data-index='["dome", "hatch"]' data-generator="hatchOpenClosed">Hatch</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["conditions", "weather", "goto", "humidity"]' data-generator="conditionSimple" data-units=" %RH">Ext. Humidity</span>
      <span class="list-group-item" data-index='["conditions", "weather", "pier", "int_humidity"]' data-generator="conditionSimple" data-units=" %RH">Int. Humidity</span>
      <span class="list-group-item" data-index='["conditions", "weather", "goto", "temperature"]' data-generator="conditionSimple" data-units=" &deg;C">Ext. Temp</span>
      <span class="list-group-item" data-index='["conditions", "weather", "pier", "int_temperature"]' data-generator="conditionSimple" data-units=" &deg;C">Int. Temp</span>
      <span class="list-group-item" data-index='["conditions", "weather", "goto", "dew_point"]' data-generator="conditionSimple" data-units=" &deg;C">T > Dew Pt.</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m", "superwasp", "sky_temp"]' data-generator="onemetreParameter" data-units=" &deg;C">Sky. Temp</span>

      <span class="list-group-item" data-index='["w1m", "goto_vaisala", "accumulated_rain"]' data-generator="onemetreParameter" data-units=" mm">Total Rain</span>
      <span class="list-group-item" data-index='["conditions", "weather", "goto", "windspeed"]' data-generator="conditionSimple" data-units=" km/h">Peak Wind</span>
      <span class="list-group-item" data-index='["conditions", "weather", "goto", "pressure"]' data-generator="conditionSimple" data-units=" hPa">Pressure</span>
      <span class="list-group-item" data-index='["w1m", "tng", "seeing"]' data-generator="onemetreParameter" data-units=" arcsec">Seeing (TNG)</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-index='["w1m", "tng", "dust"]' data-generator="onemetreParameter" data-units=" &mu;g/m<sup>3</sup>">Dust (TNG)</span>
      <span class="list-group-item" data-index='["w1m", "tng", "solarimeter"]' data-generator="onemetreParameter" data-units=" W/m<sup>2</sup>">Brightness (TNG)</span>
      <span class="list-group-item" data-index='["w1m", "ephem", "sun_alt"]' data-generator="onemetreParameter" data-units="&deg;">Sun Altitude</span>
      <span class="list-group-item" data-index='["w1m", "ephem", "moon_phase"]' data-generator="onemetreMoon">Moon Phase</span>
      <span class="list-group-item" data-index='["w1m", "ephem", "moon_alt"]' data-generator="onemetreParameter" data-units="&deg;">Moon Altitude</span>
    </div>
  </div>
</div>
{% if user_account != None and 'goto' in user_account['permissions'] %}
<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Telescope</h5>
      <span class="list-group-item" data-index='["mnt", "status"]' data-generator="telStatus">Mount</span>
      <span class="list-group-item" data-index='["mnt"]' data-generator="telRADec">RA / Dec</span>
      <span class="list-group-item" data-index='["mnt"]' data-generator="telAltAz">Alt / Az</span>
      <span class="list-group-item" data-index='[]' data-generator="exqCamExposure">Exposure</span>
      <span class="list-group-item" data-index='["cam", "run_number"]' data-generator="camRunNumber">Run Number</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Dome</h5>
      <span class="list-group-item" data-index='["dome", "north"]' data-generator="domeShutter">N. Shutter</span>
      <span class="list-group-item" data-index='["dome", "south"]' data-generator="domeShutter">S. Shutter</span>
      <span class="list-group-item" data-index='["dome", "heartbeat_enabled"]' data-generator="domeEnabledSafe">Heartbeat</span>
      <span class="list-group-item" data-index='["dome", "alarm_enabled"]' data-generator="domeEnabledSafe">Siren</span>
      <span class="list-group-item" data-index='["dome", "autoclose_enabled"]' data-generator="domeEnabledSafe">Auto-close</span>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Unit Telescopes</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Cam. Status</td>
            <td data-index='["cam", "1", "status"]' data-generator="camStatus"></td>
            <td data-index='["cam", "2", "status"]' data-generator="camStatus"></td>
            <td data-index='["cam", "3", "status"]' data-generator="camStatus"></td>
            <td data-index='["cam", "4", "status"]' data-generator="camStatus"></td>
          </tr>
          <tr>
            <td>Cam. Temperature</td>
            <td data-index='["cam", "1", "ccd_temp"]' data-generator="camTemp"></td>
            <td data-index='["cam", "2", "ccd_temp"]' data-generator="camTemp"></td>
            <td data-index='["cam", "3", "ccd_temp"]' data-generator="camTemp"></td>
            <td data-index='["cam", "4", "ccd_temp"]' data-generator="camTemp"></td>
          </tr>
          <tr>
            <td>Focus</td>
            <td data-index='["foc", "1"]' data-generator="telFoc"></td>
            <td data-index='["foc", "2"]' data-generator="telFoc"></td>
            <td data-index='["foc", "3"]' data-generator="telFoc"></td>
            <td data-index='["foc", "4"]' data-generator="telFoc"></td>
          </tr>
          <tr>
            <td>Filter</td>
            <td data-index='["filt", "1"]' data-generator="telFilt"></td>
            <td data-index='["filt", "2"]' data-generator="telFilt"></td>
            <td data-index='["filt", "3"]' data-generator="telFilt"></td>
            <td data-index='["filt", "4"]' data-generator="telFilt"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="row dashboard-stats">
  <div class="col-md-12">
    <div class="list-group">
      <h5 class="list-group-header text-center">Authentication Required</h5>
      <span class="list-group-item text-center">Observation details are restricted to logged in observers.</span>
    </div>
  </div>
</div>
{% endif %}
<script src="{{ url_for('static', filename='common-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='goto-dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-tooltip.js') }}"></script>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    pollDashboard('http://lapalma-observatory.warwick.ac.uk/data/goto/');
  });
</script>
{% endblock %}
