{% extends "layout.html" %}
{% set title = 'One Metre &raquo; Dashboard' -%}
{% set active_page = 'onemetre-dashboard' -%}
{% block body %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
    <h6 class="dashhead-subtitle" id="data-updated">Loading...</h6>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-group="telescope" data-generator="telStatus">Tel. Status</span>
      <span id="ops-dome-status" class="list-group-item">Dome Status</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <span id="ops-telescope-control" class="list-group-item">Tel. Control</span>
      <span id="ops-dome-control" class="list-group-item">Dome Control</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="list-group">
      <span id="ops-status" class="list-group-item">Operations</span>
      <span id="ops-environment" class="list-group-item">Environment</span>
    </div>
  </div>
</div>

<div class="row dashboard-stats">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-group="power" data-generator="powerMainUPS">Main UPS</span>
      <span class="list-group-item" data-group="power" data-generator="powerDomeUPS">Dome UPS</span>
      <span class="list-group-item" data-group="power" data-field="telescope_80v" data-generator="powerOnOff">Tel Drive</span>
      <span class="list-group-item" data-group="power" data-field="telescope_12v" data-generator="powerOnOff">Tel Controllers</span>
      <span class="list-group-item" data-group="power" data-generator="powerInstrument">Instrument</span>
      <span class="list-group-item" data-group="power" data-field="light" data-generator="powerOnOff">Dome Light</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-group="environment" data-field="vaisala_relative_humidity" data-generator="envLatestMinMax" data-units=" %RH">Ext. Humidity</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_internal_humidity" data-generator="envLatestMinMax" data-units=" %RH">Int. Humidity</span>
      <span class="list-group-item" data-group="environment" data-field="vaisala_temperature" data-generator="envLatestMinMax" data-units=" &deg;C">Ext. Temp.</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_internal_temp" data-generator="envLatestMinMax" data-units=" &deg;C">Int. Temp.</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_truss_temp" data-generator="envLatestMinMax" data-units=" &deg;C">Truss Temp.</span>
      <span class="list-group-item" data-group="environment" data-field="superwasp_sky_temp" data-generator="envLatestMinMax" data-units=" &deg;C">Sky Temp.</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-group="environment" data-field="vaisala_wind_speed" data-generator="envLatestMinMax" data-units=" km/h">Peak Wind</span>
      <span class="list-group-item" data-group="environment" data-field="vaisala_median_wind_speed" data-generator="envLatestMinMax" data-units=" km/h">Median Wind</span>
      <span class="list-group-item" data-group="environment" data-field="vaisala_pressure" data-generator="envLatestMinMax"data-units=" hPa">Pressure</span>
      <span class="list-group-item" data-group="environment" data-field="vaisala_dew_point_delta" data-generator="envLatestMinMax" data-units=" &deg;C">T > Dew Pt.</span>
      <span class="list-group-item" data-group="environment" data-field="tng_dust" data-generator="envLatestMinMax" data-units=" &mu;g/m<sup>3</sup>">Dust (TNG)</span>
      <span class="list-group-item" data-group="environment" data-field="tng_seeing" data-generator="seeingIfAvailable" data-units=" arcsec">Seeing (TNG)</span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="list-group">
      <span class="list-group-item" data-group="environment" data-field="vaisala_accumulated_rain" data-generator="envLatestMinMax" data-units=" mm">Total Rain</span>
      <span class="list-group-item" data-group="environment" data-field="diskspace_data_fs_available_bytes" data-generator="diskSpaceGB" data-units=" GB">TCS Disk Space</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_security_system_safe" data-generator="switchSafeTripped">Hard Limits</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_trap_closed" data-generator="switchClosedOpen">Trap Door</span>
      <span class="list-group-item" data-group="environment" data-field="roomalert_hatch_closed" data-generator="switchClosedOpen">Side Hatch</span>
      <span class="list-group-item" data-group="environment" data-field="tng_solarimeter" data-generator="envLatestMinMax" data-units=" W/m<sup>2</sup>">Brightness (TNG)</span>
    </div>
  </div>
</div>
<div class="row dashboard-stats">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Telescope</h5>
      <span class="list-group-item" data-group="telescope" data-field="ra" data-generator="telRA">RA</span>
      <span class="list-group-item" data-group="telescope" data-field="dec" data-generator="telDec">Dec</span>
      <span class="list-group-item" data-group="telescope" data-field="alt" data-generator="telAlt">Altitude</span>
      <span class="list-group-item" data-group="telescope" data-field="telescope_focus_um" data-generator="telFocus">Tel. Focus</span>
      <span class="list-group-item" data-group="telescope" data-field="instrument_focus" data-generator="telInstrumentFocus">Red Focus</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Blue Camera</h5>
      <span class="list-group-item" data-group="blue" data-generator="camStatus">Status</span>
      <span class="list-group-item" data-group="blue" data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-group="blue" data-field="shutter_enabled" data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-group="blue" data-field="exposure_time" data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-group="blue" data-generator="camGeometry">Geometry</span>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header text-center">Red Camera</h5>
      <span class="list-group-item" data-group="red" data-generator="camStatus">Status</span>
      <span class="list-group-item" data-group="red" data-generator="camTemperature">Temperature</span>
      <span class="list-group-item" data-group="red" data-field="shutter_enabled" data-generator="camShutter">Shutter</span>
      <span class="list-group-item" data-group="red" data-field="exposure_time" data-generator="camExposure">Exposure</span>
      <span class="list-group-item" data-group="red" data-generator="camGeometry">Geometry</span>
    </div>
  </div>
</div>
{% if user_account != None and 'onemetre' in user_account['permissions'] %}
<div class="row dashboard-stats">
  <div class="col-md-5 col-sm-12 col-xs-12">
    <div class="list-group">
      <h5 class="list-group-header" style="text-align: center">Pipeline</h5>
      <span id="pipeline-guiding" class="list-group-item">Guide Camera</span>
      <span id="pipeline-frametype" class="list-group-item">Frame Type</span>
      <span id="pipeline-save-dir" class="list-group-item">Archive Dir</span>
      <span id="pipeline-next-blue" class="list-group-item">Next Blue Frame</span>
      <span id="pipeline-next-red" class="list-group-item">Next Red Frame</span>
      <span id="pipeline-process" class="list-group-item">Pipeline Steps</span>
    </div>
  </div>
  <div class="clearfix visible-sm-block visible-xs-block"></div>
  <div class="col-md-7">
    <div class="list-group">
      <h5 class="list-group-header text-center">System Log</h5>
      <div class="list-group-item" style="overflow-y: scroll; height: 160px;">
        <table id="log-table">
        </table>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row dashboard-stats">
  <div class="col-md-12">
    <div class="list-group">
      <h5 class="list-group-header text-center">Authentication Required</h5>
      <span class="list-group-item text-center">Pipeline and log information restricted to <a href="https://github.com/orgs/warwick-one-metre/teams/observers/">@warwick-one-metre/observers</a>.</span>
    </div>
  </div>
</div>
{% endif %}
<script src="{{ url_for('static', filename='onemetre-dashboard.js') }}"></script>
<script>
{% if user_account != None and 'onemetre' in user_account['permissions'] %}
  var includeLog = true;
{% else %}
  var includeLog = false;
{% endif %}
  $(document).ready(function() { queryData(includeLog); });
</script>
{% endblock %}
