{% extends "layout.html" %}
{% set active_page = 'onemetre-live' -%}
{% block body %}
<style>
.overlaybutton {
  background: rgba(255, 255, 255, 0.2);
}

a:hover .overlaybutton {
  color: #1ca8dd;
}

.filename {
  display: block;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

</style>
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">One Metre &raquo; Live Data</h2>
  </div>
</div>
{% if user_account != None and 'onemetre' in user_account['permissions'] %}
<div class="row">
  <div class="col-md-6">
    <div class="list-group list-group-item panel" style="padding:0">
      <img id="blue-thumb" data-url="/data/onemetre/blue/image" width="100%">
    </div>
    <div class="list-group m-b">
      <h5 class="list-group-header">Blue Camera<span id="blue-updated" class="pull-right dashhead-subtitle">Loading...</span></h5>
      <span id="blue-date" class="list-group-item">Exposure started: </span>
      <span id="blue-exposure" class="list-group-item">Exposure length:</span>
      <span id="blue-saved" class="list-group-item">Saved as:</span>
      <span id="blue-fwhm" class="list-group-item">Median FWHM:</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group list-group-item panel" style="padding:0">
      <img id="red-thumb" data-url="/data/onemetre/red/image" width="100%">
    </div>
    <div class="list-group m-b">
      <h5 class="list-group-header">Red Camera<span id="red-updated" class="pull-right dashhead-subtitle">Loading...</span></h5>
      <span id="red-date" class="list-group-item">Exposure started: </span>
      <span id="red-exposure" class="list-group-item">Exposure length:</span>
      <span id="red-saved" class="list-group-item">Saved as:</span>
      <span id="red-fwhm" class="list-group-item">Median FWHM:</span>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='onemetre-reduction.js') }}"></script>
{% else %}
<div class="row">
  <div class="col-md-12">
    <div class="list-group m-b">
      <h5 class="list-group-header text-center">Authentication Required</h5>
      <span class="list-group-item text-center">Content restricted to <a href="https://github.com/orgs/warwick-one-metre/teams/observers/">@warwick-one-metre/observers</a>.</span>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
