<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="sr-only">Toggle nav</span>
            </button>
          </div>
          <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <ul class="nav nav-pills nav-stacked">
{% for category in site.data.sidebar %}
              <li class="nav-header">{{category.title}}</li>
  {% assign pages = site.pages | where: "sidebar", category.id | sort:"navorder" %}
  {% for node in pages %}
    {% if page.url == node.url %}
              <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
              <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}
{% endfor %}
            </ul>
            <hr class="visible-xs m-t">
          </div>
        </nav>
      </div>
        <div class="col-sm-9 content">
          {{ content }}
        </div>
      </div>
    </div>
  <script src="{{ "/js/toolkit.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
