{% extends "layout.html" %}
{% set title = 'Site Cameras' -%}
{% set active_page = 'site-cameras' -%}
{% block body %}
<style>
.thumb-panel {
  padding: 0; height: 107px; width: 190px; overflow: hidden; margin: auto auto;
}

.camera-label {
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  top: 0px;
  left: 0px;
  padding: 3px 6px;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  border-bottom-right-radius: 5px;
}
</style>

{% if not dashboard_mode %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
  </div>
</div>
{% endif %}

<div class="row">
  <div id="container" class="col-md-12" style="position: relative">
    <div class="list-group list-group-item" style="padding: 0">
      <img id="video" src="{{ cameras[0].camera_url }}" width="100%" style="border-radius: 3px; min-height: 250px">
      <img id="spinner" src="{{ url_for('static', filename='loading.gif') }}" style="display: none; position: absolute; margin: auto; left: 0; right: 0; top: 0; bottom: 0; width: 64px; height: 64px;">
      <div id="video-button-container" style="display: none; position: absolute; left: 10px; top: 10px; text-align: center;">
        <a id="video-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='video.svg') }}" width="50"/><br /><span id="video-button-text">Play</span></a><br />
      </div>
      <div id="audio-button-container" style="display: none; position: absolute; right: 10px; top: 10px; text-align: center;">
        <a id="audio-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='speaker.svg') }}" width="50"/><br /><span id="audio-button-text">Play</span></a><br />
        <input id="audio-volume" type="text" style="width:80px" value="" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="5" data-slider-selection="after" data-slider-tooltip="hide">
      </div>
      <div id="light-button-container" style="display: none; position: absolute; left: 10px; bottom: 10px; text-align: center;">
        <a id="light-button" href="#lightmodal" data-toggle="modal" data-target="#lightmodal" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='light.svg') }}" width="50"/><br /><span id="light-button-text">Light</span></a><br />
      </div>
      <div class="modal fade" id="lightmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Control Light</h4>
            </div>
            <div class="modal-body">
              Be careful if the dome is open!
            </div>
            <div class="modal-footer">
              <button id="enable-light-button" type="button" class="btn btn-danger" data-dismiss="modal">Light on</button>
              <button id="disable-light-button" type="button" class="btn btn-success" data-dismiss="modal">Light off</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="ir-button-container" style="display: none; position: absolute; right: 10px; bottom: 10px; text-align: center;">
        <a id="ir-button" href="#irmodal" data-toggle="modal" data-target="#irmodal" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='light.svg') }}" width="50"/><br /><span id="light-button-text">Infrared</span></a><br />
      </div>
      <div class="modal fade" id="irmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Control Infrared LEDs</h4>
            </div>
            <div class="modal-body">
              Be careful if the instrument is exposing!
            </div>
            <div class="modal-footer">
              <button id="enable-irleds-button" type="button" class="btn btn-danger" data-dismiss="modal">IR LEDs on</button>
              <button id="disable-irleds-button" type="button" class="btn btn-success" data-dismiss="modal">IR LEDs off</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="source-container">
    <p class="description">Image source: <a id="source" href="{{ cameras[0][2] }}" >{{ cameras[0][1] }}</a>.</p>
  </div>
</div>
<br />
<div class="row">
{% for c in cameras %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 m-b">
    <a class="btn list-group list-group-item thumb-panel" onclick="selectCamera(this);">
      <img src="{{ c.camera_url }}/thumb" data-url="{{ c.camera_url }}/thumb" data-camera-url="{{ c.camera_url }}"{% if (c.video_url) %} data-video-url="{{ c.video_url }}"{% endif %}{% if (c.audio_url) %} data-audio-url="{{ c.audio_url }}"{% endif %}{% if (c.light_url) %} data-light-url="{{ c.light_url }}"{% endif %}{% if (c.infrared_url) %} data-infrared-url="{{ c.infrared_url }}"{% endif %}{% if (c.source_url) %} data-source-url="{{ c.source_url }}"{% endif %} alt="{{ c.label }}" width="100%">
      <div class="camera-label">{{ c.label }}</div>
    </a>
  </div>
{% endfor %}
</div>

<script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>
<script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
<script src="{{ url_for('static', filename='cameras.js') }}"></script>

{% endblock %}
