
<div class="row">
  <div id="container" class="col-md-12" style="position: relative">
    <div class="list-group list-group-item" style="padding: 0">
      <img id="video" src="/webcam/{{ video }}/static" width="100%" style="border-radius: 3px; min-height: 250px">
{% if not dashboard_mode %}
{% if enable_video %}
      <div style="position: absolute; left: 10px; top: 10px; text-align: center;">
        <a id="video-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='video.svg') }}" width="50"/><br /><span id="video-button-text">Play</span></a><br />
      </div>
{% endif %}
{% if enable_microphone %}
      <div style="position: absolute; right: 10px; top: 10px; text-align: center;">
        <a id="audio-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='speaker.svg') }}" width="50"/><br /><span id="audio-button-text">Play</span></a><br />
        <input id="audio-volume" type="text" style="width:80px" value="" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="5" data-slider-selection="after" data-slider-tooltip="hide">
      </div>
{% endif %}
{% if enable_light %}
      <div style="position: absolute; left: 10px; bottom: 10px; text-align: center;">
        <a id="light-button" href="#lightmodal" data-toggle="modal" data-target="#lightmodal" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='light.svg') }}" width="50"/><br /><span id="light-button-text">Light</span></a><br />
      </div>
      <div class="modal fade" id="lightmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Control Light</h4>
            </div>
            <div class="modal-body">
              Be careful if the dome is open!
            </div>
            <div class="modal-footer">
              <button id="enable-light-button" type="button" class="btn btn-danger" data-dismiss="modal">Light on</button>
              <button id="disable-light-button" type="button" class="btn btn-success" data-dismiss="modal">Light off</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endif %}
{% endif %}
    </div>
  </div>
</div>
{% if not dashboard_mode %}
<div class="row">
  <div class="col-md-12">
{% if enable_video %}
    <p class="description">Video sync may drift over time. You may need to stop and restart playback periodically.</p>
{% endif %}
{% if enable_microphone %}
    <p class="description">Audio playback requires browser support for WebSockets and WebAudio.</p>
{% endif %}
  </div>
</div>
<script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>

{% if enable_microphone %}
<script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
<script src="{{ url_for('static', filename='audio.js') }}"></script>
{% endif %}
{% endif %}
<script>
$(document).ready(function () {
{% if enable_microphone and not dashboard_mode %}
  $('#audio-volume').slider()
  $('#audio-volume').on('slide', function(ev){
    setAudioStreamVolume(ev.value);
  });

  var audioPlaying = false;
  $('#audio-button').click(function() {
    if (audioPlaying) {
      $('#audio-button-text').html('Play');
      stopAudioStream();
      audioPlaying = false;
    } else {
      $('#audio-button-text').html('Stop');
      var gain = $('#audio-volume').data('slider').getValue();
      startAudioStream("wss://lapalma-observatory.warwick.ac.uk/microphone/{{ audio }}", 22050, 0.2, gain);
      audioPlaying = true;
    }
  });
{% endif %}

  var videoPlaying = false;
{% if enable_video and not dashboard_mode %}
  $('#video-button').click(function() {
    if (videoPlaying) {
      $('#video-button-text').html('Play');
      $('#video').attr('src', '/webcam/{{ video }}/static?' + Date.now());
      videoPlaying = false;
    } else {
      $('#video-button-text').html('Stop');
      $('#video').attr('src', '/webcam/{{ video }}/live?' + Date.now());

      videoPlaying = true;
    }
  });
{% endif %}

{% if enable_light and not dashboard_mode %}
  $('#enable-light-button').click(function() {
   $.ajax({
      type: 'GET',
      url: '/light/{{ light }}/on',
    });
  });

  $('#disable-light-button').click(function() {
   $.ajax({
      type: 'GET',
      url: '/light/{{ light }}/off',
    });
  });
{% endif %}

  // Refresh the view every 30 seconds if not live
  window.setInterval(function() {
    if (!videoPlaying)
      $('#video').attr('src', '/webcam/{{ video }}/static?' + Date.now());
  }, 30000);
});
</script>

