
<div class="row">
  <div id="container" class="col-md-12" style="position: relative">
    <div class="list-group list-group-item" style="padding: 0">
      <img id="video" src="/webcam/{{ video }}/static" width="100%" style="border-radius: 3px; min-height: 105px;">
      <div style="position: absolute; left: 10px; top: 10px; text-align: center;">
        <a id="video-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='video.svg') }}" width="50"/><br /><span id="video-button-text">Play</span></a><br />
      </div>
{% if enable_microphone %}
      <div style="position: absolute; right: 10px; top: 10px; text-align: center;">
        <a id="audio-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px"><img src="{{ url_for('static', filename='speaker.svg') }}" width="50"/><br /><span id="audio-button-text">Play</span></a><br />
        <input id="audio-volume" type="text" style="width:80px" value="" data-slider-min="0" data-slider-max="10" data-slider-step="0.1" data-slider-value="5" data-slider-selection="after" data-slider-tooltip="hide">
      </div>
{% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="description">Video sync may drift over time. You may need to stop and restart playback periodically.</p>
{% if enable_microphone %}
    <p class="description">Audio playback requires browser support for WebSockets and WebAudio.</p>
{% endif %}
  </div>
</div>
<script src="{{ url_for('static', filename='bootstrap-slider.js') }}"></script>

{% if enable_microphone %}
<script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
<script src="{{ url_for('static', filename='audio.js') }}"></script>
{% endif %}

<script>
$(document).ready(function () {
{% if enable_microphone %}
  $('#audio-volume').slider()
  $('#audio-volume').on('slide', function(ev){
    setAudioStreamVolume(ev.value);
  });

  var audioPlaying = false;
  $('#audio-button').click(function() {
    if (audioPlaying) {
      $('#audio-button-text').html('Play');
      stopAudioStream();
      audioPlaying = false;
    } else {
      $('#audio-button-text').html('Stop');
      var gain = $('#audio-volume').data('slider').getValue();
      startAudioStream("ws://lapalma-observatory.warwick.ac.uk/microphone/{{ audio }}", 22050, 0.2, gain);
      audioPlaying = true;
    }
  });
{% endif %}

  var videoPlaying = false;
  $('#video-button').click(function() {
    if (videoPlaying) {
      $('#video-button-text').html('Play');
      $('#video').attr('src', '/webcam/{{ video }}/static?' + Date.now());
      videoPlaying = false;
    } else {
      $('#video-button-text').html('Stop');
      $('#video').attr('src', '/webcam/{{ video }}/live?' + Date.now());

      videoPlaying = true;
    }
  });

  // Refresh the view every 30 seconds if not live
  window.setInterval(function() {
    if (!videoPlaying)
      $('#video').attr('src', '/webcam/{{ video }}/static?' + Date.now());
  }, 30000);
});
</script>

