{% extends "layout.html" %}
{% set title = 'Infrastructure' -%}
{% set active_page = 'infrastructure' -%}
{% block body %}
<div class="row">
  <div class="dashhead-titles col-md-8 col-sm-8 col-xs-7">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
    <h2 id="headerdesc" class="dashhead-subtitle">Loading...</h2>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-5">
    <div class="input-group">
      <div class="input-group-btn">
        <button id="prev-date" class="btn btn-default-outline"><span class="icon icon-chevron-left"></span></button>
      </div>
      <input id="datepicker" type="text" placeholder="Live Data" class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-date-clear-btn="true" data-date-start-date="2016-09-14" data-date-end-date="0d" data-date-disable-touch-keyboard="true">
      <div class="input-group-btn">
        <button id="next-date" class="btn btn-default-outline"><span class="icon icon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6" style="padding: 0; margin: 0">
    <div id="main-ups-battery-container" class="plot-container">
      <div id="main-ups-battery-plot" data-linkedplots='["dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["mupsbat"]' data-axislabel='&nbsp;' data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="dome-ups-battery-container" class="plot-container">
      <div id="dome-ups-battery-plot" data-linkedplots='["main-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["dupsbat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="rasa-ups-battery-container" class="plot-container">
      <div id="rasa-ups-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["rupsbat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="goto-main-ups-battery-container" class="plot-container">
      <div id="goto-main-ups-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["goto-mupsbat"]' data-axislabel="UPS Battery (%)" data-labelfudge="-9" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="goto-dome-ups-battery-container" class="plot-container">
      <div id="goto-dome-ups-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["goto-dupsbat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="swasp-ups1-battery-container" class="plot-container">
      <div id="swasp-ups1-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups2-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["swasp-ups1bat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="swasp-ups2-battery-container" class="plot-container">
      <div id="swasp-ups2-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups3-battery-plot"]' class="weather-plot" data-series='["swasp-ups2bat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%' data-hidetime></div>
    </div>
    <div id="swasp-ups3-battery-container" class="plot-container">
      <div id="swasp-ups3-battery-plot" data-linkedplots='["main-ups-battery-plot", "dome-ups-battery-plot", "rasa-ups-battery-plot", "goto-main-ups-battery-plot", "goto-dome-ups-battery-plot", "swasp-ups1-battery-plot", "swasp-ups2-battery-plot"]' class="weather-plot" data-series='["swasp-ups3bat"]' data-axislabel="&nbsp;" data-min="0" data-max="105" data-labelunits='%'></div>
    </div>
  </div>
  <div class="col-md-6" style="padding: 0; margin: 0" id="right-container">
    <div id="network-internal-container" class="plot-container">
      <div id="network-internal-plot" class="weather-plot" data-linkedplots='["network-external-plot", "wasp-roofbattery-plot"]' data-series='["pingint1m", "pingintnites", "pingintswasp", "pingintgoto", "pingintwht"]' data-axislabel='Ping (ms)' data-sidesensor="right-container" data-labelfudge="-9" data-labelunits=' ms' data-max="2.5" data-hidetime></div>
    </div>
    <div id="network-external-container" class="plot-container">
      <div id="network-external-plot" class="weather-plot" data-linkedplots='["network-internal-plot", "wasp-roofbattery-plot"]' data-series='["pinggoogle", "pingngts"]' data-axislabel='Ping (ms)' data-sidesensor="right-container" data-labelfudge="-9" data-labelunits=' ms' data-hidetime></div>
    </div>
    <div id="wasp-roofbattery-container" class="plot-container">
      <div id="wasp-roofbattery-plot" class="weather-plot" data-linkedplots='["network-external-plot", "network-internal-plot"]' data-series='["swroofbat"]' data-axislabel='Voltage (V)' data-sidesensor="right-container" data-min="0" data-max="18" data-labelfudge="-9" data-labelunits=' V'></div>
    </div>
  </div>
</div>
<div class="row small-font">
  <div class="col-md-12">
    <div class="list-group">
{% if user_account != None and 'infrastructure_log' in user_account['permissions'] %}
      <h5 class="list-group-header text-center">Infrastructure Log</h5>
      <div class="list-group-item" style="overflow-y: scroll; height: 160px;">
        <table id="log-table">
        </table>
      </div>
{% else %}
      <h5 class="list-group-header text-center">Authentication Required</h5>
      <span class="list-group-item text-center">Infrastructure logs are restricted to logged in observers.</span>
{% endif %}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.flot.resize.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.flot.time.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.flot.axislabels.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.flot.crosshair.min.js') }}"></script>
<script src="{{ url_for('static', filename='environment.js') }}"></script>
<script src="{{ url_for('static', filename='fetch-logs.js') }}"></script>
<script>
  var dataURL = '{{ url_for('infrastructure_data') }}';
  $(document).ready(function() {
    setup();
    pollLog('{{ url_for('infrastructure_log') }}');
  });
</script>
{% endblock %}
