{% set categories = [
  ('Observatory', [
    (url_for('environment'), 'environment', 'Environment', 'icon-cloud', None),
    (url_for('infrastructure'), 'infrastructure', 'Infrastructure', 'icon-home', None),
    (url_for('east_camera'), 'east-camera', 'East Camera', 'icon-video-camera', None),
    (url_for('west_camera'), 'west-camera', 'West Camera', 'icon-video-camera', None),
    (url_for('skycams'), 'skycams', 'Sky Cameras', 'icon-video-camera', None)
  ]),
  ('W1m', [
    (url_for('w1m_dashboard'), 'w1m-dashboard', 'Dashboard', 'icon-menu', None),
    (url_for('w1m_dome'), 'w1m-dome', 'Dome Camera', 'icon-video-camera', None),
    (url_for('w1m_live'), 'w1m-live', 'Live Data', 'icon-stopwatch', 'w1m'),
    (url_for('w1m_resources'), 'w1m-resources', 'Resources', 'icon-info', 'w1m')
  ]),
  ('RASA', [
    (url_for('rasa_dashboard'), 'rasa-dashboard', 'Dashboard', 'icon-menu', None),
    (url_for('rasa_live'), 'rasa-live', 'Live Data', 'icon-stopwatch', 'rasa'),
    (url_for('rasa_dome'), 'rasa-dome', 'Dome Camera', 'icon-video-camera', None)
  ]),
  ('SuperWASP', [(url_for('wasp_dome'), 'wasp-dome', 'Dome Camera', 'icon-video-camera', None)]),
  ('GOTO', [
    (url_for('goto_dome'), 'goto-dome', 'Dome Camera', 'icon-video-camera', None),
    (url_for('goto_resources'), 'goto-resources', 'Resources', 'icon-info', 'goto')
  ]),
  ('NITES', [(url_for('nites_dome'), 'nites-dome', 'Dome Camera', 'icon-video-camera', None)]),
] %}

<nav class="sidebar-nav">
  <div class="sidebar-header">
    <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
      <span class="sr-only">Toggle nav</span>
    </button>
    <h1 class="navbar-brand">Warwick La&nbsp;Palma Telescopes</h1>
  </div>
  <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
    <ul class="nav nav-pills nav-stacked m-b">
      {% for title, links in categories %}
      <li class="nav-header">{{ title|e }}</li>
      {% for href, id, caption, icon, permission in links %}
      {% if not permission or permission in user_account['permissions'] %}
      <li{% if id == active_page %} class="active"{% endif %}>
        <a class="hidden-sm" href="{{ href|e }}">{% if icon %}<span class="icon {{ icon }}" style="margin-right: 10px"></span>{% endif %}{{ caption|e }}</a>
        <a class="visible-sm" href="{{ href|e }}" style="font-size: 0.75em">{% if icon %}<span class="icon {{ icon }}" style="margin-right: 5px"></span>{% endif %}{{ caption|e }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>

    <hr style="margin: 0px" class="m-b">

    {% if user_account['username'] != None and user_account['avatar'] != None %}
      <div class="clearfix">
        <img style="border-radius: 3px; margin-right: 5px; float: left;" src="{{ user_account['avatar'] }}" width="40" height="40">
        <h4 style="margin: 0; margin-top: 8px; overflow:hidden; text-overflow: ellipsis; height: 32px;">@{{ user_account['username'] }}</h4>
      </div>
      <ul class="user-permissions">
      {% if user_account['permissions']|length > 0 %}
        {% if 'w1m' in user_account['permissions'] %}
          <li>W1m observer</li>
        {% endif %}
        {% if 'goto' in user_account['permissions'] %}
          <li>GOTO observer</li>
        {% endif %}
        {% if 'nites' in user_account['permissions'] %}
          <li>NITES observer</li>
        {% endif %}
        {% if 'rasa' in user_account['permissions'] %}
          <li>RASA observer</li>
        {% endif %}
      {% else %}
        <li>No Permissions</li>
      {% endif %}
      </ul>
      <div class="text-center">
        <a href="{{ url_for('logout') + '?next=' + request.base_url }}" class="btn btn-default-outline btn-sm">Log out</a>
      </div>
    {% else %}
      <div class="text-center">
        <a id="login-button" href="{{ url_for('login') + '?next=' + request.base_url }}" class="btn btn-primary-outline" style="width: 150px; overflow: hidden; text-overflow: ellipsis;">Log in with Github</a>
      </div>
    {% endif %}
    <hr class="visible-xs m-t">
  </div>
</nav>

