{% extends "layout.html" %}

{% set cameras = [
  ('/webcam/ext1/static', '/webcam/ext1/live'),
  ('http://en.sat24.com/image?type=infraPolair&region=ce', None),
  ('http://www.gtc.iac.es/multimedia/netcam/camaraAllSky.jpg', None),
  ('http://catserver.ing.iac.es/weather/archive/concam/tmp/concam.png', None),
  ('http://telescope.livjm.ac.uk/data/webfiles/QS/Latest/a_latest_hms.jpg', None)
] -%}

{% set title = 'Site Cameras' -%}
{% set active_page = 'sitecams' -%}
{% block body %}
<div class="dashhead m-b">
  <div class="dashhead-titles">
    <h2 class="dashhead-title">{{ title|safe }}</h2>
    <h2 class="dashhead-subtitle">Automatically updates every 30 seconds</h2>
  </div>
</div>

<style>
.thumb-panel {
  padding:0; height: 90px; width: 90px; overflow: hidden; margin: auto auto;
}
</style>

<div class="row">
{% for cam in cameras %}
  <div class="col-md-2 col-xs-4 m-b">
    <a class="btn list-group list-group-item thumb-panel" onclick="selectCamera(this);">
      <img src="{{ cam[0] }}" data-url="{{ cam[0] }}" {% if cam[1] != None %} data-liveurl="{{ cam[1] }}"{% endif %}height="100%">
    </a>
  </div>
{% endfor %}
</div>

<div class="row">
  <div class="col-md-12 panel">
    <div class="list-group list-group-item" style="padding:0">
      <img id="main" src="{{ cameras[0][0] }}" data-url="{{ cameras[0][0] }}" width="100%">
      <div style="position: absolute; left: 25px; top: 10px; text-align: center;">
        <a id="video-button" class="btn btn-primary-outline p-x overlaybutton" style="margin-bottom: 10px; display: none;"><img src="{{ url_for('static', filename='video.svg') }}" width="50"/><br /><span id="video-button-text">Play</span></a><br />
      </div>
    </div>
  </div>
</div>

<script>
var videoPlaying = undefined;

function viewLive(url) {
  $('#video-button-text').html('Stop');
  $('#main').attr('src', url +'?' + Date.now());
  videoPlaying = url;
}

function viewStatic(url) {
  $('#video-button-text').html('Play');
  $('#main').attr('src', url + '?' + Date.now());
  videoPlaying = undefined;
}

function selectCamera(element) {
  var img = $(element).children('img');
  var url = img.data('url');
  var liveurl = img.data('liveurl');
  var main = $('#main');
  var video = $('#video-button');

  main.data('url', url);
  main.data('liveurl', liveurl);
  viewStatic(url);

  if (liveurl) {
    video.show();
    video.unbind();
    video.click(function() {
      if (videoPlaying)
        viewStatic(url);
      else
        viewLive(liveurl);
    });
  } else
    video.hide();
}

function reloadImages() {
  $('img').each(function() {
    var url = $(this).data('url');

    // Only refresh webcam thumbs
    if (!url)
      return;

    // Don't refresh live images
    if ($(this).attr('id') != 'main' || !videoPlaying) {
      var sep = url.indexOf('?') < 0 ? '?' : '&';
      $(this).attr('src', url + sep + Date.now());
    }
  });
}

$(document).ready(function () {
  window.setInterval(reloadImages, 30000);

  // Select first image
  selectCamera($(".thumb-panel").first());
});
</script>
{% endblock %}
